.nav-menu {
    height: 100%;
}

.nav-menu ::deep fluent-nav-menu {
    height: 100%;
    --neutral-fill-stealth-rest: transparent;
    --neutral-fill-secondary-rest: rgba(0, 0, 0, 0.06);
    --neutral-foreground-rest: #1f1f1f;
    --accent-fill-rest: #0f5b94;
}

form {
    padding-inline: 0.5rem;
}

form ::deep fluent-button {
    width: 100%;
}
