.nav-menu {
    height: 100%;
}

.nav-menu ::deep .fluent-nav-menu {
    height: 100%;
    color: #fff;
    --neutral-fill-stealth-rest: transparent;
    --neutral-fill-secondary-rest: rgba(255, 255, 255, 0.1);
    --neutral-foreground-rest: #fff;
    --accent-fill-rest: #60cdff;
}

form {
    padding-inline: 0.5rem;
}

form ::deep fluent-button {
    width: 100%;
}
