::deep fluent-nav-menu {
    height: 100%;
    --neutral-fill-stealth-rest: transparent;
    --neutral-fill-stealth-hover: rgba(255, 255, 255, 0.1);
    --neutral-fill-stealth-active: rgba(255, 255, 255, 0.2);
    --neutral-foreground-rest: #ffffff;
    --accent-fill-rest: rgba(255, 255, 255, 0.25);
    --accent-foreground-rest: #ffffff;
}
